body {
	font: 13px/1 Helvetica,Arial,sans-serif;
	color: #444;
}

h1, h2, h3, h4, h5 {
	margin: 1em 0 1em;
	padding: 0;
}

p {
	font-size: 14px;
	line-height: 20px;
	margin: 1em 0;
}

a {
	color: #09F;
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
}

li {
	line-height: 24px;
	margin-left: 44px;
}

ul, ol {
	font-size: 14px;
	line-height: 20px;
}

/* Display the expand/collapse triangle button at the same level as list bullets */
ul.toc {
	list-style-position: inside;
}

li.collapsible {
	list-style: none;
}

/* Make it clear that the expand/collapse triangle symbol is clickable */
summary {
	cursor: pointer;
}

h3 {
	font-size: 21px;
}

.wrapper {
	width: 800px;
	margin: 20px auto;
}

.contributors , .section {
	border: #dadada solid 1px;
	padding: 20px 14px;
	margin: 20px 0;
}

.subsection {
	padding: 20px 14px;
	margin: 0 -14px;
}

.subsection:nth-child(odd) {
	background-color: #ededed;
}

.code {
	font-family: monospace;
}

pre {
	margin-left: 40px;
	white-space: pre-wrap;
}

.copyright {
	text-align: center;
}

hr {
	height: 1px;
	background-color: #aaaaaa;
	border: 0 none;
	margin: 0;
}

.subsection h3, .subsection h4, .subsection h5 {
	margin: 0 0 2em;
}

.subsection :last-child, .section :last-child {
	margin-bottom: 0;
}

.subsection :first-child, .section :first-child {
	margin-top: 0;
}

a.here {
	text-decoration: none;
}

p, span {
	text-align: justify;
}

@media print {
	body {
		color: black;
	}

	a {
		color: #222;
		text-decoration: none;
	}

	a:after {
		content: " " attr(href) " ";
		font-weight: normal;
		text-decoration: underline;
	}

	#toc a {
		text-decoration: none;
		color: black;
	}

	#toc a:after {
		content: "";
	}

	.wrapper {
		width: auto;
		margin: 0;
	}

	.contributors, .section {
		border: 0;
		page-break-before: always;
		width: auto;
		margin: 0;
		padding: 0;
	}

	.subsection {
		page-break-inside: avoid;
		border-top: gray solid 1px;
		margin: 0;
		padding: 1em 0 1em;
	}

	.subsection:nth-child(odd) {
		background-color: transparent;
	}

	li {
		page-break-inside: avoid;
	}

	.copyright {
		text-align: left;
 /* dont know how to pull it down, let it look look like the contributors block */;
	}

	#toc {
		page-break-before: always;
	}

	#toc:before {
		content: "Table of Contents:";
		font-size: 120%;
	}
}

@media only screen and (max-device-width: 800px) {
	.wrapper {
		width: auto;
		margin: auto;
	}

	li {
		margin-left: 0;
	}

	.contributors, .section {
		border: 0;
		padding-left: 0;
		padding-right: 0;
	}
}
